html {
	box-sizing: border-box;

}
		
*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

nav li{
	position: relative;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	font-style: none;
	font-size: 1em;
}


h1{
	position: absolute;
	color: white;
	text-align: left;
	padding-left: 12px;
	padding-bottom: 12;
	margin: 0;
	font-size: 3em;
}

h2{
	position: absolute;
	color: white;
	text-align: left;
	margin: 0;
	font-size: 2.5em;
	padding-left: 12px;
	padding-top: 120px;

}

figure{
	position: relative;
	margin: 0;
	padding-left: 12px;
	padding-right: 12px;
}

h3{
	position: absolute;
	text-align: left;
	margin: 0;	
	padding-left: 160px;
}

img{
	width: 100%;
}

.smallbanner{
	clip-path: polygon(0 86%, 68% 86%, 79% 100%, 89% 87%, 100% 87%, 100% 0%, 0% 0%);
}
.food{
	width: 50%;
	margin:	0;
	position: relative;
}

.price{
	font-size: 0.80em;
	margin: 0
}
