html {
	box-sizing: border-box;

}
		
*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

header{
	background-color: #CE702C;
	z-index: -5;
	position: relative;
}

h1{
	position: relative;
	text-align: center;
	font-size: 15.5px;
	background-color: #CE702C;
	margin: 0;
	top: -20px;
	z-index: 1;
}

.main-logo{
	background-color: #CE702C;
	width: 110%;
	position: relative;
	margin: 0;
	padding-right: 100px;
	padding-left: 70px;
	z-index: 1;
}

nav a{
	font-style: none;
	text-decoration: none;
	color: white;
	font-size: 12pt;
}

nav li{
	display: inline-block;
	padding: 8.5px;
	position: relative;
}

li:hover{
  background-color: rgba(81, 34, 0, 0.5);
}

ul{	
	position: relative;
	text-align: center;
	font-style: none;
	list-style-type: none;
	font-size: 1em;
	margin: 0;
	padding: 4%;
	background-color: #CE702C;
	z-index: 1;
}

.para{
	position: relative;
	font-family: 'bodoni 72', sans-serif;
	margin: 0;
	margin-left: 4%;
	margin-right: 4%;
	font-style: none;
	text-align: center;
	font-size: 16pt;
	padding: 0;
}

h2{
	position: absolute;
	color: white;
	text-align: left;
	padding-left: 4%;
	padding-bottom: 15%;
	margin: 0;
	font-size: 3em;
	line-height: 58px;
}

h3{
	position: absolute;
	color: white;
	text-align: left;
	margin: 0;
	font-size: 2em;
	padding-left: 4%;
	padding-top: 40%;

}

img{
	width: 100%;
	z-index: 1;
}

.food img{
	width: 50%;
	z-index: -1;
	margin-left: -4.7%;
	margin-bottom: -1.8%;
}

.food{
	width: 90%;
	margin:	0%;
	position: relative;
	padding-left: 4%;
	background-color: #CE702C;
	margin: 5%;
}

.food-para{
	text-align: left;
	margin-left: 4%;
	margin-right: 4%;
	position: relative;
	font-size: 16px;
}

h4{
	position: absolute;
	text-align: left;
	margin: 0;
	padding: 5px;
	margin-right: 90%;
	padding-left: 55%;
	z-index: 1;
	letter-spacing: 2px;
}

.price{
	font-size: 0.80em;
	margin: 0
}
.whitebox{
	position: relative;
	margin: 0;
	z-index: 2;
	top: -30px;
	padding: 0;
}

.whitebox-banner{
	position: relative;
	margin: 0;
	z-index: 2;
	top: -30px;
	padding: 0;
}

.whitebox-bottom{
	position: relative;
	margin: 0;
	z-index: 2;
	bottom: -40px;
	padding: 0;
}

.small-logo{
	width: 20%;
	position: relative;
	left: 40%;
}

footer{
	top: 100px;
	width: 100;
	background-color: #CE702C;
	position: relative;
}

.footer-logo{
	padding: 5%;
	left: 35%;
	width: 30%;
	display: block;
	position: relative;
	background-color: #CE702C;
}

.foot-para{
	text-align: center;
	position: relative;
	font-size: 16px;
	padding: 20px;